<footer class="footer container-fluid pl-30 pr-30">
	<div class="row">
		<div class="col-sm-12">
			<p>کلیه حقوق برای <a href="https://www.ioi-co.com" target="_blank">اپلیکیشن انبر</a> محفوظ است . &copy; @(DateTime.Now.Year)</p>
		</div>
	</div>
</footer>